body {
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}
p.blue {
    color: blue;
}
p.italic {
    font-style:italic;
}
p.bold {
    font-weight:bold;
}
.container {
    background-image: linear-gradient(to right, #c7e2bb, #6feb0a);
    }